p{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: large;
}
footer{
    height: 200px;
    width: 900px;
    text-align: center;
}
body{
    background-color: salmon;
}